<html>
    <head>
        <title>Django Girls blog D14N4MC</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 27.02.2016, 4:49</p>
            <h2><a href="">My first post</a></h2>
                <p>"DUNDER" diminutivo en Ingles de "double-underscore" __)</p>
            </div>

            <div>
                <p>published: 27.02.2016, 4:51</p>
                <h2><a href="">My second post</a></h2>
                <p>Git - Sistema de control de versiones</p>
            </div>
    </body>
</html>